<div class="header">
  <h1>tick-report</h1>
  <div class="meta">
    <span>mode: single global instance</span>
    <span>project: <span id="active-project-path" class="mono">-</span></span>
    <span>refresh: <%= intervalMs %>ms</span>
    <span id="last-refresh">last refresh: -</span>
  </div>
</div>
