<div class="header">
  <h1>tick-report</h1>
  <div class="meta">
    <span>root: <span id="root-dir" class="mono"><%= rootDir %></span></span>
    <span>refresh: <%= intervalMs %>ms</span>
    <span id="last-refresh">last refresh: -</span>
  </div>
</div>
